In [1]:
import pandas as pd

In [2]:
df = pd.read_excel("onedata.xlsx")

In [3]:
df.head()

   buyer  fruits  gender  value
0    ali   apple    male      2
1   noor   mango    male      3
2  wajid  orange  female      4
3  karim  banana    male      4

In [9]:
pd.get_dummies(data = df , columns = ["buyer","fruits" , "gender"] , dtype=int , drop_first = True)

,value,buyer_karim,buyer_noor,buyer_wajid,fruits_banana,fruits_mango,fruits_orange,gender_male
0,2,0,0,0,0,0,0,1
1,3,0,1,0,0,1,0,1
2,4,0,0,1,0,0,1,0
3,4,1,0,0,1,0,0,1

# With Sklearn OneHotEncoder

In [10]:
from sklearn.preprocessing import OneHotEncoder

In [12]:
ohe = OneHotEncoder(drop="first",dtype=int,sparse_output=False)

In [13]:
df_trf = ohe.fit_transform(df[["buyer","fruits","gender"]])

In [14]:
df_trf

array([[0, 0, 0, 0, 0, 0, 1],
       [0, 1, 0, 0, 1, 0, 1],
       [0, 0, 1, 0, 0, 1, 0],
       [1, 0, 0, 1, 0, 0, 1]])

In [17]:
cols_name = ohe.get_feature_names_out()

In [20]:
cols_name

array(['buyer_karim', 'buyer_noor', 'buyer_wajid', 'fruits_banana',
       'fruits_mango', 'fruits_orange', 'gender_male'], dtype=object)

In [21]:
pd.DataFrame(data = df_trf , columns = cols_name)

,buyer_karim,buyer_noor,buyer_wajid,fruits_banana,fruits_mango,fruits_orange,gender_male
0,0,0,0,0,0,0,1
1,0,1,0,0,1,0,1
2,0,0,1,0,0,1,0
3,1,0,0,1,0,0,1