In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("8_df.csv")

In [3]:
df.head()

   Unnamed: 0    A    B    C    D
0           0  1.0  NaN  1.0  1.0
1           1  2.0  2.0  2.0  2.0
2           2  3.0  3.0  NaN  3.0
3           3  NaN  2.0  4.0  4.0
4           4  5.0  5.0  5.0  NaN

In [4]:
df.isnull().sum()

Unnamed: 0    0
A             2
B             2
C             2
D             1
dtype: int64

# SimpleImputer

## SimpleImputer is used when your dataset has missing values (NaN/null) and you want to fill them with some basic strategy.

### You use it in these cases:

#### 1.Numerical columns:

##### Use strategy="mean" → when you want to replace missing numbers with the average.

##### Use strategy="median" → when your data has outliers and mean is not reliable.

#### 2.Categorical columns:

##### Use strategy="most_frequent" → when you want to fill missing categories with the most common value.

##### Use strategy="constant" → when you want to fill with a fixed value (like "unknown" for text or 0 for numbers).

## from sklearn.impute import SimpleImputer

### 1. mean strategy
#### imputer = SimpleImputer(strategy="mean")

### 2. median strategy
#### imputer = SimpleImputer(strategy="median")

### 3. most frequent strategy
#### imputer = SimpleImputer(strategy="most_frequent")

### 4. constant strategy
##### imputer = SimpleImputer(strategy="constant", fill_value=0)

### If you don’t pass strategy in SimpleImputer, the default is "mean"

In [5]:
from sklearn.impute import SimpleImputer

In [1]:
simple_mean = SimpleImputer(strategy="most_frequent")
df["B"] = simple_mean.fit_transform(df[["B"]])

NameError: name 'SimpleImputer' is not defined

In [7]:
df.head()

   Unnamed: 0    A    B    C    D
0           0  1.0  3.0  1.0  1.0
1           1  2.0  2.0  2.0  2.0
2           2  3.0  3.0  NaN  3.0
3           3  NaN  2.0  4.0  4.0
4           4  5.0  5.0  5.0  NaN

In [8]:
df.isnull().sum()

Unnamed: 0    0
A             2
B             0
C             2
D             1
dtype: int64